@import url('https://fonts.googleapis.com/css2?family=Moo+Lah+Lah&family=Work+Sans:wght@100;200;500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Kumar+One+Outline&display=swap');

$escalate-color: #3550bd;
$approve-color: #88BD35;
$decline-color: #F7882E;
$focus-color: #f72e2e;

//$title-font: 'Moo Lah Lah', cursive;
//$main-font: 'Work Sans', sans-serif;

$title-font: 'Kumar One Outline', cursive;
$main-font: 'Josefin Sans', sans-serif;
